Logslogs.lognpm-debug.logyarn-debug.log*yarn-error.log*pnpm-debug.log*lerna-debug.log*Dependenciesnode_modules.pnp.pnp.jsBuild Outputdistdist-ssr*.localEditor directories and files.vscode/*!.vscode/extensions.json.idea.DS_Store*.suo*.ntvs*.njsproj*.sln*.sw?Environment variables.env.env.local.env.development.local.env.test.local.env.production.localVitevite.config.js.timestamp-*vite.config.ts.timestamp-*